# Example .env file for Kollywood QuizMaster React App

# Insert your TMDb API key below. You can use the demo key for testing or replace with your own from https://www.themoviedb.org/settings/api
REACT_APP_TMDB_API_KEY=5bc67d3b06aecbd18121a3cbbc16eb59
